{% extends 'index.html' %}

{% block title %}
    Cats
{% endblock %}

{% block htitle%}
    <header class="header">
        Kitten Data
    </header>
{% endblock %}

{% block content%}


<form class="login-form" method='POST'>
    <div class="form-input-material">
        <label>Name</label>
        <input class="form-control-material" name='name' placeholder="Cat name" required/>
        <label>Color</label>
        <input class="form-control-material" name='color' placeholder="Cat color" required/>
        <label>Color Eye</label>
        <input class="form-control-material" name='color_eye' placeholder="Cat color eye" required/>
        <input class="btn btn-primary" type="submit" value="Submit" />
    </div>
</form>



<main class="cat-grid">
    {% for data in datas %}
        <div class="cat-card">
            <div class="cat-avatar">
                <i class="fas fa-cat"></i>
            </div>
            <div class="cat-info">
                <h2>{{ data.name }}</h2>
                <p>Color: {{ data.color }}</p>
                <p>Eyes: {{ data.color_eye }}</p>
            </div>
            <div class="cat-actions">
                <a class="icon-btn edit-btn" href="{{ url_for('cats.update_cat', id = data.id) }}"><i class="fas fa-pencil-alt"></i></a>
                <a class="icon-btn delete-btn" href="{{ url_for('cats.delete_cat', id = data.id) }}"><i class="fas fa-trash-alt"></i></a>
            </div>
        </div>
    {% endfor %}
</main>


{% endblock %}
