{% extends 'index.html' %}

{% block title %}
    Kitten 
{% endblock %}

{% block htitle%}
    <header class="header">
        <h1>Kitten Flask</h1>
    </header>
{% endblock %}

{% block content%}
    <p>Kitten-Flask es un mini CRUD hecho en Flask con un enfoque en seguridad, clean architecture y buenas prácticas para evitar concurrencia, SQL Injection y acoplamiento fuerte.</p>
    <h2>Descripcion</h2>
    <p>Este proyecto ejemplifica la construcción de una API básica para administrar recursos de “gatos” (cats) con las siguientes características:</p>
    <li> - Arquitectura en capas (presentación, servicio, repositorio, base de datos)</li>
    <li> - Uso de Pydantic para validación tipada y modelos (entrada/salida)</li>
    <li> - Manejo seguro de la conexión a base de datos por petición (thread-safe)</li>
    <li> - SQL parametrizado para evitar inyecciones</li>
    <li> - Manejo de errores / excepciones customizadas</li>
    <li> - Separación de responsabilidades y bajo acoplamiento</li>

{% endblock %}
